services:
  prometheus_exporter_gpu:
    build: .
    container_name: prometheus_exporter_gpu
    restart: unless-stopped
    ports:
      - "8000:8000"
    devices:
      - /dev/kfd
      - /dev/dri
    security_opt:
      - seccomp:unconfined
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all